.page {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

.line {
    min-width: 100%;
}

.barChartContainer {
    width: 55%;
    padding: 2rem;
    height: 700px;
}

.lineChart {
    padding: 2rem;
    width: 40%;
    height: 700px;
    position: relative;
}

.barChart {
    width: 100%;
    position: relative;
}

.barChart button {
    max-width: fit-content;
    min-height: 1rem;
}

.filters {
    font-size: 14px;
    min-width: fit-content;
    padding-right: 2rem;
    position: relative;
}

.filters li button {
    width: 100%;
    text-align: left;
}

.filters select {
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 5px;
}

@media screen and (max-width : 1800px) {
    .barChartContainer {
        width: 45%;
        height: 550px;
    }

    .lineChart {
        width: 35%;
        height: 550px;
    }

    .page {
        gap: 20px;
    }
}

@media screen and (max-width : 1600px) {
    .barChartContainer {
        width: 50%;
        height: 500px;
    }

    .lineChart {
        width: 40%;
        height: 500px;
    }
}

@media screen and (max-width : 1350px) {
    .page {
        flex-direction: column;
        gap: 0;
    }

    .filters {
        padding-right: 0.5rem;
    }

    .lineChart {
        margin: auto;
        width: 70%;
        height: 450px;
    }

    .barChartContainer {
        margin: auto;
        width: 80%;
        height: 450px;
    }
}

@media screen and (max-width : 1100px) {
    .lineChart {
        width: 800px;
        margin: 0 1rem;
    }

    .barChartContainer {
        width: 850px;
        margin: 0 1rem;
    }
}

@media screen and (max-width : 900px) {
    .lineChart {
        width: 680px;
    }

    .barChartContainer {
        width: 700px;
    }
}

@media screen and (max-width : 800px) {
    .lineChart {
        width: 630px;
    }

    .barChartContainer {
        width: 650px;
    }
}

@media screen and (max-width : 700px) {
    .lineChart {
        width: 580px;
    }

    .barChartContainer {
        width: 600px;
    }
}

@media screen and (max-width : 600px) {
    .lineChart {
        width: 500px;
        height: 400px;
        padding: 2rem 0;
    }

    .barChartContainer {
        width: 500px;
        height: 400px;
        padding: 2rem 0;
    }

    .filters {
        font-size: 12px;
    }

    .filters button {
        font-size: 12px;
    }
}

@media screen and (max-width : 550px) {
    .lineChart {
        width: 450px;
    }

    .barChartContainer {
        width: 450px;
    }
}

@media screen and (max-width : 500px) {
    .lineChart {
        width: 400px;
    }

    .barChartContainer {
        width: 400px;
    }
}

@media screen and (max-width : 450px) {
    .lineChart {
        width: 350px;
        margin: 0 0 0 1rem;
    }

    .barChartContainer {
        width: 350px;
        margin: 0 0 0 1rem;
    }
}

@media screen and (max-width : 400px) {
    .lineChart {
        width: 300px;
    }

    .barChartContainer {
        width: 300px;
    }
}