.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 30px;
    color: var(--text-color);
}

.wrapper{
    background-color: var(--light-bg);
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    max-width: 20rem;
}

.input{
    padding: 10px 20px;
    border: 1px solid var(--text-color);
    outline: none;
    background: none;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: bold;
    font-size: 18px;
}

.input::placeholder{
    color: #b3b3b1;
}

.button{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 450;
    font-size: 16px;
    background-color: var(--text-color);
    color: var(--bg);
    width: 100%;
    cursor: pointer;
}

.link{
    text-decoration: underline;
}

.error{
    color: red;
    font-size: 1rem;
    font-weight: 500;
}

@media only screen and (max-width : 640px) {
    .wrapper{
        padding: 20px 60px;
    }

    .title{
        font-size: 25px;
    }
}